/*Additional reset*/
/*--------------------------------------------------------------------------------------------------------------------*/

span,div,a,header,section,article,footer
{
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

a:hover {
    color:green;
}

html
{
    overflow:hidden;
}

h1,h2,h3
{
    margin:0;
}

h1 {font-size:1.50em}
h2 {font-size:1.35em}
h3 {font-size:1.10em}

i
{
    margin-right:0.5em;
}

button
{
    border:0;
}

/* Main modifiers / Classes / common UI */
/*--------------------------------------------------------------------------------------------------------------------*/


.round5 {border-radius:5px;}
.round4 {border-radius:4px;}
.round3 {border-radius:3px;}
.round2 {border-radius:2px;}


.alert_box
{
    margin-top:2px;
    width:100%;
    padding:0.5em;
    border-radius:3px;
}

    .alert_box.error
    {
        background:#b32d00;
        border:1px solid #9a2700;
        color:white;
    }

    .alert_box.success
    {
        background:#fcf8e3;
        border:1px solid #faf2cc;
        color:black;
    }


.button
{
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    color:white;
    background:#686caa;
    border-bottom: 2px solid #595d9a;
    border-radius:4px;
}

.button.big
{
    padding:7px;
    padding-left:22px;
    padding-right:22px;
    border-bottom: 3px solid #595d9a;
}

.sm
{
    width:50px;
}

.md
{
    width:100px;
}

.lg
{
    width:200px;
}

.button.small
{
    padding:3px;
    font-size:0.9em;
    padding-left:11px;
    padding-right:11px;
}

.button:hover
{
    background: #9b9fdd;
    border-bottom: 3px solid #8c8fcd;
    color:white;
}

.button.selected
{
    background: white;
    /* border:1px solid #9b9fdd; */
    border-bottom: 3px solid #686B99;
    color:black;
    font-weight:bold;
}

.black_line
{
    border-bottom:1px solid black;
}

.bl_black    {border-bottom:1px solid #000;}
.bl_gray_11  {border-bottom:1px solid #aaa;}
.bl_gray_12  {border-bottom:1px solid #bbb;}
.bl_gray_13  {border-bottom:1px solid #ccc;}
.bl_gray_14  {border-bottom:1px solid #ddd;}
.bl_gray_15  {border-bottom:1px solid #eee;}

.clear
{
    clear:both;
    width:0;
    height:0;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.form td
{
    padding:3px;
}

    .form input:focus
    {
        background:#e6e6e6;
    }


table.data
{
    border-collapse:collapse;
    border:1px solid #bbb;
}

    table.data tr:nth-child(even) td
    {
        background:#eee;
    }

    table.data td
    {
        padding:4px;
        padding-top:2px;
        padding-bottom:2px;
    }

    table.data th
    {
        padding:4px;
        padding-top:2px;
        padding-bottom:2px;
        background:#ddd;
        text-align:left;
    }

    table.data tr.selected td, table.data tr.selected td *
    {
        /* background:#def2de; */
        background: #aaa;
        color:white !important;
    }


.sidebar_table.selected
{
    background:#ccc;
    color:white !important;
}

.small_container
{
    padding:0.25rem;
}

.container
{
    padding:1.25rem;
}

.h2   {height:2em;}
.h3   {height:3em;}

.gray5       {color:#555}
.gray6       {color:#666}
.gray7       {color:#777}
.gray8       {color:#888}
.gray9       {color:#999}
.gray10      {color:#aaa}
.gray11      {color:#bbb}
.gray12      {color:#ccc}

.bg_gray_9   {background:#999;}
.bg_gray_10  {background:#aaa;}
.bg_gray_11  {background:#bbb;}
.bg_gray_12  {background:#ccc;}
.bg_gray_13  {background:#ddd;}
.bg_gray_14  {background:#eee;}
.bg_white    {background:#fff;}

.bg_blue_12  {background:#bbf;}
.bg_blue_13  {background:#ccf;}
.bg_blue_14  {background:#ddf;}
.bg_blue_15  {background:#eef;}



/* DOM */
/*--------------------------------------------------------------------------------------------------------------------*/


#page
{
    width:100%;
    float:left;
}

#sidebar
{
    background:#fff;
    float:left;
    width:15em;
    left:15em;
    margin-left:-15em;
    position:relative;
    overflow-y:auto;
}

#panel
{
    margin-left:15.5em;
    overflow-y:auto;
    margin-right:1em;
}

.query
{
    padding:5px;
    width:auto;
    background:#eee;
    border-radius:5px;
    font-size:0.8em;
    color:#333;
}

.space
{
    margin-bottom:5px;
}

.space10
{
    margin-bottom:10px;
}

.space15
{
    margin-bottom:15px;
}


.pagination a
{
    border-radius:3px;
    padding:7px;
    padding-top:3px;
    padding-bottom:3px;
    color:black;
    margin-right:1px;
    background:#ddd;
    font-size:0.85em;
}

.pagination a:hover
{
    background:#aaa;
}

.pagination a.current
{
    background:#b3d4fc;
    padding:11px;
    padding-top:5px;
    padding-bottom:5px;
}

.syntaxhighlighter .toolbar
{
    display:none;
}

.syntaxhighlighter .gutter .line *
{
    border-right:3px solid red !important;
}